<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favourite Movies</title>
    <link rel="stylesheet" href="/main.css">
    <style>
       
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="header" id="title"> Favourite Movies</h1>
        <input type="hidden" name="favArray" value="<%= favourites %>">
        <div class= "container">
           <div class="search">
               <input id="search_box" type="text" class="input" placeholder="Search">
               
           </div>
                    <div id= "bottom__title">
            <div id= "bottom__title-res"><h3>Results</h3></div>
            <div id= "bottom__title-fav"><h3>Favourites</h3>
                <div class="share-box">
                <form class="login-form" action="/" method="POST" novalidate>
                    <button class="btn" id="share" type="submit">Share</button>
                </form>
                
                <input readonly type="text" value="<%= shareBoxValue %>" id="shareBox">
                <button onclick="copyText()">Copy to clipboard</button>
                </input>  
                </div>
            </div>
            </div>
        <div class="bottom_container">

            <div id = "results" class="results">
             
                
            </div>
            
              
            <div id="favourites" class="favourites">
                                                             
                

            </div>
            
            </div>
        </div>
        
    </main>

    <script src="/main.js"></script>
</body>


</html>